*.class
target
build
out

# Package Files #
*.jar
*.war
*.ear

.gradle
.idea
*.ipr
*.ids
*.iws
*.iml
*.log

domain/src/main/generated
*/release
web/src/main/webapp/js/libs/angular*/docs

*gradle.properties

*Guide.pdf