<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div ng-controller="ImportController">

    Dokumentenklasse: <select ng-model="documentClass" required="required" ng-value="shortName" ng-options="d.translation for d in documentClasses | orderBy: 'translation' "></select>

    <div ng-show="documentClass" id="docClassAttributes">

        <p ng-repeat="attribute in documentClass.attributes">
            {{attribute.shortName}}
        </p>

        <input type="file" name="file" required="required"/>
        <button type="submit" id="importDocBtn">Importieren</button>
    </div>

</div>

</body>
</html>