<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="query" ng-controller="QueryController">
    <form>
        <p>
            <input id="q" name="q" ng-model="query" tabindex="1" placeholder="Nach was suchst Du?" type="search"/>
            <button ng-click="doQuery()" tabindex="2" accesskey="S">Suche</button>
        </p>
        <p>
            <input type="checkbox" ng-model="useWildcard" tabindex="3"/> Mit Wildcards suchen | <input type="checkbox"
                                                                                                       ng-model="findOnlyMyDocuments"
                                                                                                       tabindex="4"/>
            Nur
            eigene Dokumente suchen
        </p>
    </form>


    <div id="documentList">

        <span ng-if="isEmptyResult()">Es konnten keine Dokumente mit dem Suchbegriff &laquo;{{query}}&raquo; gefunden werden</span>

        <div ng-repeat="document in documents"
             style="background: url('/resources/img/file-extensions/pdf.png') left top no-repeat; background-size: 10%; border: 1px solid; border-radius: 5px; margin-bottom: 10px; overflow: auto; box-shadow:5px 5px 5px #999999; background-color: #F5DEB3;">
            <div style="margin-left: 10%;">
                <div style="float:right;vertical-align: top;margin-right: 10px;font-size: 10px;"><a
                        href="#">Bearbeiten</a>, <a
                        ng-click="deleteDocument(document, $index)">L&ouml;schen</a></div>

                <img ng-src="/document/{{document.hash}}.thumbnail"
                     class="thumbnail" ng-click="showDocument(document)"/>

                <h2 id="{{document.id}}" ng-click="showDocument(document)"
                    style="text-align: left; padding: 10px 0 0 35px; margin: 2px 0 0 0; overflow: hidden;">
                    {{document.fileName}}</h2>

                <ul id="docTechAttrs">
                    <li><strong>Dokumentenklasse:</strong> {{document.documentClass.translation}}</li>
                    <li><strong>Seiten:</strong> {{document.pageCount}}</li>
                    <li title="{{document.hash}}" alt="{{document.hash}}"><strong>Hash:</strong> {{document.hash}}</li>
                    <li><strong>Benutzer:</strong> {{document.userReference}}</li>
                    <li><strong>Dateigr&ouml;sse:</strong> {{document.fileSize}}</li>
                    <li><strong>Erstelldatum:</strong> {{document.creationDate | date:'dd.MM.yyyy HH:mm:ss'}}</li>
                </ul>
                <div class="attributeListing"><strong>Indexwerte:</strong>
                    <span ng-repeat="(label, value) in document.indices">{{label}}: {{value}}</span>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>