<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012 - 2013 Silvio Wangler (silvio.wangler@gmail.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~          http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="classpath*:applicationContext-jpa.xml"/>
    <import resource="classpath:applicationContext-security.xml"/>

    <context:property-placeholder location="classpath*:application.properties" ignore-resource-not-found="false"
                                  ignore-unresolvable="false" order="1"/>
    <context:component-scan base-package="ch.silviowangler.dox"/>

    <bean id="appVersion" class="ch.silviowangler.dox.DoxVersion" scope="singleton" c:version="${app.version}"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <util:properties id="mimeTypes" location="classpath:mimeTypes.properties"/>

    <aop:config>
        <aop:aspect id="translationAdvice" ref="automaticTranslatorAdvice">
            <aop:pointcut id="translationOperation" expression="execution(* ch.silviowangler.dox.*ServiceImpl.*(..))"/>
            <aop:after-returning method="addTranslationIfNeeded" pointcut-ref="translationOperation"
                                 returning="retVal"/>
        </aop:aspect>
    </aop:config>
</beans>