.dox-content {
    margin-left: 50px;
    margin-right: 15px;
}

.dox-headline {
    width: 400px;
    padding: 20px;
}

.dox-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dox-index-value {
    padding-bottom: 2px;
}

@media screen and (max-width: 599px) {
    .doxContent {
        margin-left: 0px;
        margin-right: 0px;
    }
}
